<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cafe.name %>
</p>

<p>
  <strong>Inventory no:</strong>
  <%= @cafe.inventory_no %>
</p>

<p>
  <strong>Length:</strong>
  <%= @cafe.length %>
</p>

<p>
  <strong>Depth:</strong>
  <%= @cafe.depth %>
</p>

<p>
  <strong>Denivelation:</strong>
  <%= @cafe.denivelation %>
</p>

<p>
  <strong>Genesis:</strong>
  <%= @cafe.genesis %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @cafe.inventory_id %>
</p>

<p>
  <strong>X 1992:</strong>
  <%= @cafe.x_1992 %>
</p>

<p>
  <strong>Y 1992:</strong>
  <%= @cafe.y_1992 %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @cafe.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @cafe.lon %>
</p>

<%= link_to 'Edit', edit_cafe_path(@cafe) %> |
<%= link_to 'Back', caves_path %>
